<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <script src="socket.io/socket.io.js">
    </script>

    <script>
        var cliente=io();

        cliente.on('connect',function(){
            console.log("cliente conectado")

        });

        cliente.on('disconnect',function(){
            console.log("cliente desconectado")

        });
    </script>
</body>
</html>